body {
display: flex;
background: rgb(75, 92, 107);
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#firstDiv {
position: absolute;
top: 0px;
height: 40px;
width: 100vw;
display: flex;
background: rgb(115, 15, 195);
justify-content: center;
align-items: center;
color: white;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
z-index: 2;
}

#menyDiv {
position: relative;
top: 38px;
left: 0px;
background: rgb(189, 52, 209);
width: 200px;
height: 93.5vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom-right-radius: 5px;
font-size: x-large;
box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
z-index: 1;
}

#mainDiv {
position: relative;
display: flex;
top: 40px;
width: 100vw;
height: 93vh;
background: rgb(75, 92, 107);
}

#myPara1 {
border: none;
cursor: pointer;
background: none;
font-size: large;
font-weight: bold;
color: white;
margin: 15px;
}

#myPara2 {
border: none;
background: none;
font-size: large;
font-weight: bold;
color: white;
margin: 15px;
}

#myForm {
position: relative;
top: 80px;
left: 30px;
display: flex;
flex-direction: column;
width: 200px;
height: 150px;
color: white;
}

#myCalendarHead {
color: white;
left: 30px;
position: absolute;
font-weight: lighter;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}

#myFormHeader {
color: white;
left: 30px;
position: absolute;
font-weight: lighter;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}

#my1WeekHead {
color: white;
left: 500px;
position: absolute;
font-size: 30px;
}

#completeWeek {
position: relative;
display: flex;
width: 100%;
height: 100%;
background: rgb(75, 92, 107);
}

.myDay {
position: relative;
display: flex;
align-items: center;
justify-content: center;
top: 110px;
width: 120px;
height: 350px;
font-size: larger;
background: white;
color: rgb(75, 92, 107);;
margin-left: 30px;
border-radius: 5px;
}

.newActivity {
position: relative;
border: 1px solid black;
margin-left: 10px;
width: 150px;
height: 100px;
top: 250px;
left: -180px;
background:rgb(115, 15, 195);
}

#loginrefBtn {
position: absolute;
width: 50px;
height: 23px;
border-radius: 3px;
right: 8px;
margin-top: 0px;
}

#myLogin {
display: none;
position: absolute;
top: 0px;
right: 0px;
padding: 20px;
flex-direction: column-reverse;
width: 170px;
height: 300px;
background: linear-gradient(150deg, white 41%, rgb(115, 15, 195) 100%);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
color: black;
box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
}