body {
  display: flex;
  background: rgb(75, 92, 107);
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#firstDiv {
  position: absolute;
  top: 0px;
  height: 40px;
  width: 100vw;
  display: flex;
  background: rgb(115, 15, 195);
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  z-index: 2;
}

#menyDiv {
  position: relative;
  top: 38px;
  left: 0px;
  background: rgb(189, 52, 209);
  width: 200px;
  height: 93.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
  font-size: x-large;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  z-index: 1;
}

#mainDiv {
  position: relative;
  top: 40px;
  width: 100vw;
  height: 93vh;
  background: rgb(75, 92, 107);
}

#myPara1 {
  border: none;
  cursor: pointer;
  background: none;
  font-size: large;
  font-weight: bold;
  color: white;
  margin: 15px;
}

#myPara2 {
  border: none;
  background: none;
  font-size: large;
  font-weight: bold;
  color: white;
  margin: 15px;
}

#myForm {
  position: absolute;
  top: 100px;
  left: 300px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  color: white;
}

#myCalendarHead {
  color: white;
  left: 120px;
  top: 30px;
  position: absolute;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#my1WeekHead {
  color: white;
  left: 600px;
  top: 30px;
  position: absolute;
  font-size: 30px;
}

#myWeek {
  width: 1360px;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 10px;
}

#myDay {
  width: 145px;
  height: 400px;
  background: white;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
}